<nav class="navbar sticky-top navbar-expand-lg "style="background-color: #ecf0f3;" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Todo List App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="/todo">Todo</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%> 
                <a class="nav-link" href="/signin">Sign In</a>
                <a class="nav-link" href="/signup">Sign Up</a>
                <% } else {%> 
                <a class="nav-link" href="/signout">LogOut</a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>